.title_bef_card{
    text-transform: uppercase;
    padding-left: 12px;
    font-weight: 400;
    color: #a7a7a7;
    font-size: 13px;
}



.text-area{
    background-color: white;
    height: 40%;
    padding-right: 7px;
    padding-left: 7px;

}

.upload_button{
    border: black 2px solid;
    padding: 20px;
    width: 20%;
    text-align: center;
    margin: auto;
}

.block_upload_button{
    border: black 2px solid;
    text-align: center;

}

.upload_button img{
    width: 90%;
}