
.card-item{
    background-color: white;
    padding: 10px;
    padding-top: 20px;
}


.card-item2{
    background-color: white;
}

ion-item{
    --ion-background-color:white;
}

.title_bef_card{
    text-transform: uppercase;
    padding-left: 12px;
    font-weight: 400;
    color: #a7a7a7;
    font-size: 13px;
}