<ion-header>
  <ion-toolbar>
    <ion-title slot="start" class="header">Reglages</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="card-item row">
    <div class="col-12" style="text-align: center;">
      <img src="../../../assets/user.svg" style="width: 100px; height: 100px;">
    </div>
    <div *ngFor="let user of c_user" class="col-12" style="text-align: center;">
      <br>
      <h2 *ngIf="user.name" style="font-weight: bold; font-size: 20px; " (click)="updateName()">{{user.name }} </h2>
      <h2 *ngIf="!user.name" style="font-weight: bold; font-size: 20px; " (click)="updateName()">Agent XYZ </h2>

      <span *ngIf="user.function">{{user.function}}</span>
    </div>
  </div>
  <br>

  <div class="card-item2">
    <ion-item [routerLink]="['/tabs/settings/contacts']">
      <ion-avatar slot="start">
        <img src="../../../assets/contacts.svg">
      </ion-avatar>
      <ion-label>
        <h3>Contacts</h3>
      </ion-label>
    </ion-item>
    <ion-item [routerLink]="['/tabs/settings/compte']">
      <ion-avatar slot="start">
        <img src="../../../assets/keys.svg">
      </ion-avatar>
      <ion-label>
        <h3>Compte</h3>
      </ion-label>
    </ion-item>
    <ion-item [routerLink]="['/tabs/settings/notifications']">
      <ion-avatar slot="start">
        <img src="../../../assets/bell.svg">
      </ion-avatar>
      <ion-label>
        <h3>Notifications</h3>
      </ion-label>
    </ion-item>
    <ion-item [routerLink]="['/tabs/settings/help']">
      <ion-avatar slot="start">
        <img src="../../../assets/lifebouy.svg">
      </ion-avatar>
      <ion-label>
        <h3>Aide</h3>
      </ion-label>
    </ion-item>
  </div>

  <div class="footer">
      From
      <br>
      <h4>{{appname}}</h4>
  </div>



</ion-content>