<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" (click)="dismiss()">
        Retour
      </ion-button>
    </ion-buttons>
    <ion-title>contacts</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="UpadatecontactModal()">
        Modifier
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-backdrop [visible]="showBackdrop" *ngIf="showBackdrop">
  </ion-backdrop>

  <div *ngIf="contactOne">

  <br>
  <ion-row>
    <ion-col style="text-align: center;">
      <img src="../../../../assets/user.svg" style="width: 100px;height: 100px;">
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col style="text-align: center;">

      <h1 > {{ contactOne['name']  }}</h1>
    </ion-col>
  </ion-row>
  <br>
  <ion-row>
    <ion-col class="card-contact" style="text-align: center;" (click)="call(contactOne['phone'])">
      <i class="fas fa-phone-alt" style="color: #94b817;font-size: 20px;"></i>      
      <br>
      <span style="font-size: 12px;" color="primary">Portable</span>
    </ion-col>
    <ion-col class="card-contact" style="text-align: center;" (click)="SMS(contactOne['phone'])">
      <i class="fas fa-comment" style="color: #94b817;font-size: 20px;"></i>      
      <br>
      <span style="font-size: 12px;" color="primary">Message</span>
    </ion-col>
    <ion-col class="card-contact" style="text-align: center;" (click)="listOrderCustModal(contactOne['name'])">
      <i class="fas fa-clipboard-list" style="color: #94b817;font-size: 20px;"></i>      
      <br>
      <span style="font-size: 12px;" color="primary">Commande</span>
    </ion-col>
    <ion-col class="card-contact" style="text-align: center;" (click)="builkSmsPanel()">
      <i class="fas fa-sync" style="color: #94b817;font-size: 20px;"></i> 
      <br>
      <span style="font-size: 12px;" color="primary">Relance</span>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="card-contact" style="padding: 10px" (click)="call(contactOne['phone'])">
      portable <br>
      <ion-text style="font-size: 18px;" color="primary">{{ contactOne['phone']}}</ion-text>


    </ion-col>

  </ion-row>
  </div>
    <!-- Skeleton screen -->
    <div *ngIf="!contactOne" class="row">

      <ion-list class="row">
        <ion-item>
          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>

</ion-content>

<div class="builkSmsPane">
  <h3 class="titlePanel">Message Client({{maxlength}}/157)</h3>
  <div class="container" hide-on-bottom>
    <ion-textarea (ionChange)="writeBuilkSms($event)" class="form-control" id="exampleFormControlTextarea1" rows="4" maxlength="160" value="{{ messageRelance }}"></ion-textarea>
    <br>
    <ion-button (click)="sendMessage()" [disabled]="sendBuilkActive" type="submit" class="col-12">Envoyer</ion-button>
  </div>
</div>