
.t_page{
    font-size: 25px;
    font-weight: 500;
}

.content{
    margin-top: 10px;
}

.b_search{
    width: auto;
    height: 100%;
}

.searchT {
   text-align: right;
}

.sDate-pane{
    padding-bottom: 20px;
}


.titlePanel{
    font-weight: 600;
    text-align: center;
}

.selectDate ion-item ion-label{
    font-weight: 600;
}

.header{
    text-align: center;  
    font-size: 15px;
      text-transform: uppercase;
    }

    ion-backdrop {
        opacity: 0.3;
      }

.sub-title{
    font-weight: bold;
    color: black;
}

.invoice-head td {
    padding: 0 0px;
  }
  .container {
    padding-top:30px;
  }
  .invoice-body{
    background-color:transparent;
  }
  .invoice-thank{
    margin-top: 20px;
    padding: 5px;
  }
  address{
    margin-top:15px;
  }

.logo{
    width: 40%;
}

.sDateParticular .content{
  padding: 0 8px;
}

.sDateParticular .dateRageTitleStart{
  font-weight: 600;
}

.sDateParticular .dateRageTitleMiddle{
  font-weight: 300;
  text-align: center;
}

.sDateParticular .dateRageTitleEnd{
  font-weight:600;
  text-align: right;
}

.invoice-head  td{
  font-size: 13px;
}

.table{
  font-size: 13px;
}


ion-content {
  background-color: #c0c0ff;
  .printable-content {
    margin: 16px;
    overflow-x: scroll;
    overflow-y: scroll;
    background-color: #ffffff;
    .printable-area {
      width: 595px;
      height: 540px;
      .header-table {
        background-color: #18AC52;
        margin: 2%;
        width: 96%;
        color: #ffffff;
        th, td {
          text-align: left;
          padding: 5px;
        }
        .title {
          padding: 5px 20px;
          font-size: 20px;
          font-weight: bold;
          text-transform: uppercase;
        }
      }
      h1, h3 {
        margin-left: 10px;
      }
      h3 {
        margin-top: 20px;
      }
      .subheader-table {
        margin: 2%;
        width: 96%;
        td {
          vertical-align: top;
          dt {
            font-size: 11px;
            color: #999;
            margin-bottom: 5px;
          }
          dd {
            margin: 0;
          }
        }
        td:last-child {
          text-align: right;
          dd {
            font-size: 28px;
            font-weight: bold;
          }
        }
      }
      .detail-table {
        margin: 2%;
        width: 96%;
        border-top: 2px solid #CCC;
        border-bottom: 2px solid #CCC;
        th, td {
          padding: 5px;
        }
        th {
          border-bottom: 2px solid #CCC;
        }
        td:nth-child(2), td:nth-child(4) {
          text-align: right;
        }
        td:nth-child(3) {
          text-align: center;
        }
      }
      .footer-table {
        margin: 2%;
        width: 96%;
        td {
          padding: 5px;
          text-align: right;
          font-weight: bold;
        }
      }
    }
  }
}


ion-header {
  background-color: var(--ion-color-primary);
}

ion-segment-button {
  color: var(--ion-color-contrast);
}

ion-item {
  margin: 10px 0;
}