<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="header">Produits</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Data to display after skeleton screen -->
  <div *ngIf="category">

    <ion-card *ngFor="let cat of category" class="card-item" (click)="ListProduct(cat.name, cat['_id'])">

      <ion-item>
        <ion-avatar slot="start">
          <img src="../../../assets/brand-identity.svg">
        </ion-avatar>
        <ion-label>
          <ion-row>
            <ion-col>
              <h3>{{ cat.name }}</h3>
            </ion-col>
            
          </ion-row>
          <ion-row>

          </ion-row>
        </ion-label>
      </ion-item>
    </ion-card>
  </div>

  <!-- Skeleton screen -->
  <div *ngIf="!produits">
    
    <ion-list>
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>

    </ion-list>
  </div>

  <ion-fab *ngIf="addOrderAccess" vertical="bottom" horizontal="end" slot="fixed" [routerLink]="['/tabs/product/add']">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>