<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="/tabs/settings"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{ appname }}<br>
      <span>{{ version }}</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slide>
    <div class="container-login">
      <ion-grid>
        <ion-row>
          <ion-col>
            <h2><img src="../../../assets/long-logo.png"></h2>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-slide>
  <div class="after-slide">
    <ion-item [routerLink]="['/tabs/settings/help/contact-us']">
      <ion-col>
        Contactez-nous
      </ion-col>
    </ion-item>
    <ion-item> 
      <ion-col (click)="openUrl('https://sudocare.com/pages/politiques-de-confidentialite')">
        Conditions et Politique de Confidentialité
      </ion-col>
    </ion-item>
    <div class="after-help">
      © {{ currentYear }} {{ appname }}
    </div>
  </div>


</ion-content>