.card-item{
    border-style: solid;
    border-color: #94b817;
    border-width : thin;
  }

  .card-item2{
    border-style: solid;
    border-color: red;
    border-width : thin;
  }

ion-col{
  font-size: 15px;
}

.cdate{
  text-align: right;
  font-size: 12px;
}
