<ion-header class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-title>
      Commandes
    </ion-title>
    <ion-buttons slot="start" (click)="path.routeTo('/tabs/settings', '/tabs/order')">
      <ion-buttons slot="start">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-buttons>
    </ion-buttons>
    <ion-buttons slot="end" (click)="openUrl('https://tawk.to/LifeDerma')">
      <ion-icon name="help-circle-outline"></ion-icon>
    </ion-buttons>

  </ion-toolbar>

  <ion-segment [(ngModel)]="orderTabs" (ionChange)="tabsOrderChanged($event)">
    <ion-segment-button value="uncompleted">
      <ion-label>Inachevées</ion-label>
    </ion-segment-button>
    <ion-segment-button value="completed">
      <ion-label>Achevées</ion-label>
    </ion-segment-button>
    <ion-segment-button value="cancel">
      <ion-label>Annulées</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>




<ion-content>

  <div *ngFor="let order of orders">

    <div *ngIf="orderTabs === 'uncompleted'">

      <div
        *ngIf="order.delivered == undefined && (user._id == order.livreur || user.function == 'CEO' || user.function == 'CM') ">

        <ion-card *ngIf="getStatutView(order.view);" #cardUncompleted class="card-item">
          <ion-item>

            <ion-label>
              <ion-row>
                <ion-col size="4">
                  Nom:
                </ion-col>
                <ion-col size="8">
                  <span style="font-weight: bold;">{{ order.name }}</span>
                </ion-col>
                <ion-col size="4">
                  Numero :
                </ion-col>
                <ion-col size="8">
                  <span style="font-weight: bold;">{{ order.phone }}</span>
                </ion-col>
                <ion-col size="4">
                  Quartier :
                </ion-col>
                <ion-col size="8">
                  <span style="font-weight: bold;">{{ order.district }}</span>
                </ion-col>
                <ion-col size="4">
                  Produit(s) :
                </ion-col>
                <ion-col size="8">
                  <p *ngFor="let product of order.commande" style="font-weight: bold;">{{ product.qty }} x {{
                    product.product }}</p>
                </ion-col>
                <ion-col size="4">
                  Montant :
                </ion-col>
                <ion-col size="8">
                  <span style="font-weight: bold;">XAF {{ order.montant + order.livraison }}</span>
                </ion-col>
                <ion-col size="4">
                  Note :
                </ion-col>
                <ion-col size="8">
                  <p style="white-space: pre-wrap">{{order.note}}</p>
                </ion-col>
                <ion-col class="cdate">
                  <span *ngIf="order.edit"> Modifié </span>{{order.cdate | date:'HH:mm'}}&nbsp;<ion-icon
                    name="checkmark-done-outline"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-label>
          </ion-item>
        </ion-card>
        <ion-card *ngIf="!getStatutView(order.view);" (click)="setView(order._id)" #cardUncompleted>
          <ion-item lines="none">

            <ion-label>
              <ion-row>
                <ion-col size="4">
                  Nom:
                </ion-col>
                <ion-col size="8">
                  <span style="font-weight: bold;">{{ order.name }}</span>
                </ion-col>
                <ion-col size="4">
                  Numero :
                </ion-col>
                <ion-col size="8">
                  <span style="font-weight: bold;">{{ order.phone }}</span>
                </ion-col>
                <ion-col size="4">
                  Quartier :
                </ion-col>
                <ion-col size="8">
                  <span style="font-weight: bold;">{{ order.district }}</span>
                </ion-col>
                <ion-col size="4">
                  Produit(s) :
                </ion-col>
                <ion-col size="8">
                  <p *ngFor="let product of order.commande" style="font-weight: bold;">{{ product.qty }} x {{
                    product.product }}</p>
                </ion-col>
                <ion-col size="4">
                  Montant :
                </ion-col>
                <ion-col size="8">
                  <span style="font-weight: bold;">XAF {{ order.montant + order.livraison }}</span>
                </ion-col>
                <ion-col size="4">
                  Note :
                </ion-col>
                <ion-col size="8">
                  <p style="white-space: pre-wrap">{{order.note}}</p>
                </ion-col>
                <ion-col class="cdate">
                  <span *ngIf="order.edit"> Modifié </span> {{order.cdate | date:'HH:mm'}}&nbsp;<ion-icon
                    name="checkmark-outline"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-label>
          </ion-item>
        </ion-card>
      </div>
    </div>
    <div *ngIf="orderTabs === 'completed'">
      <div *ngIf="order.delivered">

        <ion-card class="card-item">
          <ion-item>

            <ion-label>
              <ion-row>
                <ion-col size="4">
                  Nom:
                </ion-col>
                <ion-col size="8">
                  <span style="font-weight: bold;">{{ order.name }}</span>
                </ion-col>
                <ion-col size="4">
                  Numero :
                </ion-col>
                <ion-col size="8">
                  <span style="font-weight: bold;">{{ order.phone }}</span>
                </ion-col>
                <ion-col size="4">
                  Quartier :
                </ion-col>
                <ion-col size="8">
                  <span style="font-weight: bold;">{{ order.district }}</span>
                </ion-col>
                <ion-col size="4">
                  Produit(s) :
                </ion-col>
                <ion-col size="8">
                  <p *ngFor="let product of order.commande" style="font-weight: bold;">{{ product.qty }} x {{
                    product.product }}</p>
                </ion-col>
                <ion-col size="4">
                  Montant :
                </ion-col>
                <ion-col size="8">
                  <span style="font-weight: bold;">XAF {{ order.montant + order.livraison }}</span>
                </ion-col>
                <ion-col class="cdate">
                  <span *ngIf="order.edit"> Modifié </span>{{order.cdate | date:'HH:mm'}}&nbsp;<ion-icon
                    name="checkmark-done-outline"></ion-icon>
                </ion-col>
              </ion-row>

            </ion-label>
          </ion-item>
        </ion-card>
      </div>
    </div>
    <div *ngIf="orderTabs === 'cancel'">
      <div *ngIf="order.delivered == false">

        <ion-card class="card-item2">
          <ion-item>

            <ion-label>
              <ion-row>
                <ion-col size="4">
                  Nom:
                </ion-col>
                <ion-col size="8">
                  <span style="font-weight: bold;">{{ order.name }}</span>
                </ion-col>
                <ion-col size="4">
                  Numero :
                </ion-col>
                <ion-col size="8">
                  <span style="font-weight: bold;">{{ order.phone }}</span>
                </ion-col>
                <ion-col size="4">
                  Quartier :
                </ion-col>
                <ion-col size="8">
                  <span style="font-weight: bold;">{{ order.district }}</span>
                </ion-col>
                <ion-col size="4">
                  Produit(s) :
                </ion-col>
                <ion-col size="8">
                  <p *ngFor="let product of order.commande" style="font-weight: bold;">{{ product.qty }} x {{
                    product.product }}</p>
                </ion-col>
                <ion-col size="4">
                  Montant :
                </ion-col>
                <ion-col size="8">
                  <span style="font-weight: bold;">XAF {{ order.montant + order.livraison }}</span>
                </ion-col>
                <ion-col size="4">
                  Motif :
                </ion-col>
                <ion-col size="8">
                  <p style="white-space: pre-wrap">{{order.motif}}</p>
                </ion-col>
                <ion-col class="cdate">
                  <span *ngIf="order.edit"> Modifié </span>{{order.cdate | date:'HH:mm'}}&nbsp;<ion-icon
                    name="checkmark-done-outline"></ion-icon>
                </ion-col>
              </ion-row>

            </ion-label>
          </ion-item>
        </ion-card>
      </div>
    </div>
  </div>



</ion-content>


<ion-fab *ngIf="orderTabs === 'uncompleted' && addOrderAccess" vertical="bottom" horizontal="end" slot="fixed"
  [routerLink]="['/tabs/order/add']">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>